<%= form_with(model: user, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label t('user.attributes.name'), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :email, t('user.attributes.email'), class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  
  <div class="mb-3">
    <%= form.label :password, t('user.attributes.password'), class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  
  <div class="row">
    <div class="col">
      <%= form.label :phone, t('user.attributes.phone'), class: "form-label" %>
      <%= form.text_field :phone, class: "form-control" %>
    </div>
    
    <div class="col">
      <%= form.label :birthdate, t('user.attributes.birthdate'), class: "form-label" %>
      <%= form.date_field :birthdate, class: "form-control" %>
    </div>
  </div>
  
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= form.submit t('submit'), class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" %>
  </div>
<% end %>