<%= form_with(model: user, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label t('user.attributes.name'), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <%= form_model_errors(user, :name) %>
  </div>
  
  <div class="mb-3">
    <%= form.label :email, t('user.attributes.email'), class: "form-label" %>
    <%= form.email_field :email, class: "form-control"%>
    <%= form_model_errors(user, :email) %>
  </div>
  
  <div class="mb-3">
    <%= form.label :password, t('user.attributes.password'), class: "form-label" %>
    <%= form.password_field :password, class: "form-control"%>
    <%= form_model_errors(user, :password) %>
  </div>
  
  <div class="row">
    <div class="col">
      <%= form.label :phone, t('user.attributes.phone'), class: "form-label" %>
      <%= form.text_field :phone, class: "form-control" %>
      <%= form_model_errors(user, :phone) %>
    </div>
    
    <div class="col">
      <%= form.label :birthdate, t('user.attributes.birthdate'), class: "form-label" %>
      <%= form.date_field :birthdate, class: "form-control" %>
      <%= form_model_errors(user, :birthdate) %>
    </div>
  </div>

  <% if action_name == "edit" %>
    <div class="col">
      <%= form.label :role, t('user.attributes.role'), class: "form-label" %>
      <%= form.select :role, options_for_select(Role::ROLES_NAMES.map { |role| [role.humanize, role] }, form.object.role),
      {}, { class: "form-select" } %>
      <%= form_model_errors(user, :role) %>
    </div>
  <% end %>
  
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= form.submit t('submit'), class: "btn btn-sm btn-primary shadow-sm" %>
  </div>
<% end %>