<h1 class="text-center"><%= t('user.definitions', name: @user.name) %></h1>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to edit_user_path(@user), class: "btn btn-primary" do %>
    <i class="fa-solid fa-pen"></i> <%= t('edit') %>
  <% end %>
  <%= link_to user_path(@user), data: { data_turbo: :delete }, class: "btn btn-danger" do %>
    <i class="fa-solid fa-trash-can"></i> <%= t('delete') %>
  <% end %>
  <%= link_to users_path, class: "btn btn-secondary" do %>
    <i class="fa-solid fa-arrow-left"></i> <%= t('back') %>
  <% end %>
</div>
