<div class="modal fade" id="<%= contribution.to_param %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= contribution.to_param %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><%= t('contribution.attributes.value') %></span>
          <input type="text" class="form-control" disabled value="<%= number_to_currency(contribution.value) %>" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><%= t('contribution.attributes.date') %></span>
          <input type="text" class="form-control" disabled value="<%= contribution.created_at.strftime('%d/%m/%Y') %>" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><%= t('contribution.attributes.portfolio') %></span>
          <input type="text" class="form-control" disabled value="<%= contribution.portfolio.name %>" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><%= t('contribution.attributes.user') %></span>
          <input type="text" class="form-control" disabled value="<%= contribution.user.name %>" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><%= t('contribution.attributes.status') %></span>
          <input type="text" class="form-control" disabled value="<%= contribution.status %>" aria-describedby="basic-addon1">
          <% unless contribution.status %>
            <%= button_to approve_contribution_path(contribution), class: "btn btn-success", method: :patch do %>
              <i class="fa-solid fa-check"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>